<div class="flex flex-row gap-x-5 w-full h-screen">
  <div class="w-1/2 absolute px-3 flex flex-col justify-center top-20">
    <h1
      class="mb-4 mt-5 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Welcome to JOE Trading System
    </h1>

    <p class="mb-5 mt-10 max-w-2xl">
      Empower your financial future with our cutting-edge trading platform.
      Whether you're a seasoned investor or just getting started, our system
      offers the tools you need to make informed trading decisions and maximize
      your returns.
    </p>

    <div class="mb-5 mt-10">
      <h2 class="text-4xl font-extrabold dark:text-white mb-4">Features</h2>
      <ul class="space-y-4 list-disc list-inside dark:text-gray-400">
        <li>
          Seamless Trading: Easily place, manage, and track your orders in
          real-time.
        </li>
        <li>
          Market Insights: Stay updated with the latest market data and trends.
        </li>
        <li>
          Comprehensive Reports: Generate detailed profit/loss reports and
          monitor your trading performance.
        </li>
        <li>
          Secure & Reliable: Trust in our robust security measures and reliable
          infrastructure.
        </li>
      </ul>
    </div>
  </div>
  <div
    class="w-1/2 bg-gray-50 dark:bg-gray-800 absolute right-0 top-0 h-screen flex items-center justify-center"
  >
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="max-w-2xl w-full mx-10"
    >
      <h2 class="text-4xl font-extrabold dark:text-white mb-3">Sign up</h2>
      <p class="mb-5">
        Sign up for a new account to access our trading platform.
      </p>
      <div class="gap-6 mb-6 flex flex-col">
        <div>
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Full Name</label
          >
          <input
            type="text"
            id="name"
            formControlName="name"
            class="input input-bordered w-full"
            [class.input-error]="
              registerForm.get('name')?.touched &&
              registerForm.get('name')?.invalid
            "
            placeholder="John Doe"
            required
          />
          @if ( registerForm.get('name')?.touched &&
          registerForm.get('name')?.invalid ) {
          <small class="text-red-500 text-sm mt-1">
            {{
              registerForm.get("name")?.errors?.['required']
                ? "Full name is required"
                : ""
            }}
          </small>
          }
        </div>
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >E-mail</label
          >
          <input
            type="text"
            id="email"
            formControlName="email"
            class="input input-bordered w-full"
            [class.input-error]="
              registerForm.get('email')?.touched && registerForm.get('email')?.invalid
            "
            placeholder="johndoe@test.com"
            required
          />
          @if ( registerForm.get('email')?.touched &&
          registerForm.get('email')?.invalid ) {
          <small class="text-red-500 text-sm mt-1">
            {{
              registerForm.get("email")?.errors?.['required']
                ? "Email is required"
                : "Invalid email"
            }}
          </small>
          }
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Password</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            [class.input-error]="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid
            "
            class="input input-bordered w-full"
            placeholder="•••••••••"
            required
          />
          @if ( registerForm.get('password')?.touched &&
          registerForm.get('password')?.invalid ) {
          <small class="text-red-500 text-sm mt-1">
            {{
              registerForm.get("password")?.errors?.['required']
                ? "Password is required"
                : registerForm.get("password")?.errors?.['minlength']
                ? "Password must be at least 8 characters"
                : ""
            }}
          </small>
          }
        </div>
        <div>
          <label
            for="confirm-password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirm-password"
            formControlName="confirm_password"
            class="input input-bordered w-full"
            [class.input-error]="
              registerForm.get('confirm_password')?.touched &&
              registerForm.get('confirm_password')?.invalid
            "
            placeholder="•••••••••"
            required
          />
          @if ( registerForm.get('confirm_password')?.touched &&
          registerForm.get('confirm_password')?.invalid ) {
          <small class="text-red-500 text-sm mt-1">
            {{
              registerForm.get("confirm_password")?.errors?.['required']
                ? "Confirm password is required"
                : registerForm.get("confirm_password")?.errors?.['mismatch']
                ? "Passwords must match"
                : ""
            }}
          </small>
          }
        </div>

        <button
          type="submit"
          [disabled]="!registerForm.valid"
          class="btn btn-primary"
        >
          @if(loading()) {
          <span class="loading loading-spinner"></span>
          }
          Sign up
        </button>

        <div>
          <p class="mt-5 text-sm text-gray-600 dark:text-gray-400">
            Already have an account?
            <a
              routerLink="/login"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Sign in</a
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
