<div class="flex flex-row gap-x-5 w-full h-screen">
  <div class="w-1/2 absolute px-3 flex flex-col justify-center top-20">
    <h1
      class="mb-4 mt-5 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Welcome to JOE Trading System
    </h1>

    <p class="mb-5 mt-10 max-w-2xl">
      Empower your financial future with our cutting-edge trading platform.
      Whether you're a seasoned investor or just getting started, our system
      offers the tools you need to make informed trading decisions and maximize
      your returns.
    </p>

    <div class="mb-5 mt-10">
      <h2 class="text-4xl font-extrabold dark:text-white mb-4">Features</h2>
      <ul class="space-y-4 list-disc list-inside dark:text-gray-400">
        <li>
          Seamless Trading: Easily place, manage, and track your orders in
          real-time.
        </li>
        <li>
          Market Insights: Stay updated with the latest market data and trends.
        </li>
        <li>
          Comprehensive Reports: Generate detailed profit/loss reports and
          monitor your trading performance.
        </li>
        <li>
          Secure & Reliable: Trust in our robust security measures and reliable
          infrastructure.
        </li>
      </ul>
    </div>
  </div>
  <div
    class="w-1/2 bg-gray-50 dark:bg-gray-800 absolute right-0 top-0 h-screen flex items-center justify-center"
  >
    <form
      [formGroup]="signupForm"
      (ngSubmit)="handleSubmit()"
      class="max-w-2xl w-full mx-10"
    >

      <h2 class="text-4xl font-extrabold dark:text-white mb-3">Login</h2>
      <p class="mb-5">
        Enter your username and password to access your trading dashboard.
      </p>
      <div class="gap-6 mb-6 flex flex-col">
        <div>
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Username</label
          >
          <input
            type="text"
            id="username"
            formControlName="username"
            class="input input-bordered w-full"
            placeholder="johndoe"
            required
          />
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Password</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            class="input input-bordered w-full"
            placeholder="•••••••••"
            required
          />
        </div>

        <button
          type="submit"
          [disabled]="!signupForm.valid"
          class="btn btn-primary"
        >
          Sign up
        </button>

        <div>
          <p class="mt-5 text-sm text-gray-600 dark:text-gray-400">
            Don't have an account?
            <a
              routerLink="/signup"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Sign up</a
            >
          </p>
          <p class="mt-5 text-sm text-gray-600 dark:text-gray-400">
            Forgot your password?
            <a
              routerLink="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Reset it</a
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
