<form
  class="w-full px-3 flex flex-col"
  (ngSubmit)="handleSubmit()"
  [formGroup]="orderForm"
>
  <h2 class="card-title">Place Order</h2>
  <div class="flex flex-col">
    <div>
      <label for="portfolio" class="label text-sm">Portfolio</label>
      <select
        id="portfolio"
        class="select select-bordered w-full select-sm"
        formControlName="portfolio"
      >
        @for (portfolio of portfolios().data; track portfolio.id) {
        <option [value]="portfolio.id">{{ portfolio.name }}</option>
        }
      </select>
      @if (orderForm.get('portfolio')?.touched && orderForm.get('portfolio')?.invalid) {
      <small class="text-error">Portfolio is required</small>
      }
    </div>
    <div>
      <label for="stock" class="label text-sm">Stock</label>
      <select
        id="stock"
        class="select select-bordered w-full select-sm"
        formControlName="stock"
      >
        <option value="MSFT">Microsoft</option>
        <option value="NFLX">Netflix</option>
        <option value="GOOGL">Google</option>
        <option value="AAPL">Apple</option>
        <option value="TSLA">Tesla</option>
        <option value="IBM">IBM</option>
        <option value="ORCL">Oracle</option>
        <option value="AMZN">Amazon</option>
      </select>
    </div>
    <div>
      <label for="tradeType" class="label text-sm">Trade Type</label>
      <select
        id="tradeType"
        class="select select-bordered w-full select-sm"
        formControlName="tradeType"
      >
        <option value="MARKET">Market</option>
        <option value="LIMIT">Limit</option>
      </select>
    </div>
    <div>
      <label for="side" class="label text-sm">Side</label>
      <select
        id="side"
        class="select select-bordered w-full select-sm"
        formControlName="side"
      >
        <option value="BUY">Buy</option>
        <option value="SELL">Sell</option>
      </select>
    </div>
    <div>
      <label for="price" class="label text-sm">Price</label>
      <input
        id="price"
        type="text"
        class="input input-bordered w-full select-sm"
        placeholder="Price"
        formControlName="price"
      />
      @if (orderForm.get('price')?.touched && orderForm.get('price')?.invalid) {
      <small class="text-error">
        {{ orderForm.get('price')?.errors?.['required']
          ? 'Price is required'
          : 'Price must be a number' }}
      </small>
      }
    </div>
    <div class="mb-5">
      <label for="quantity" class="label text-sm">Quantity</label>
      <input
        id="quantity"
        type="text"
        class="input input-bordered w-full select-sm"
        placeholder="Quantity"
        formControlName="quantity"
      />
      @if (orderForm.get('quantity')?.touched && orderForm.get('quantity')?.invalid) {
      <small class="text-error">
        {{ orderForm.get('quantity')?.errors?.['required']
          ? 'Quantity is required'
          : 'Quantity must be an integer' }}
      </small>
      }
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Order</button>
</form>
