<div class="mx-5 mt-5">
  <div class="flex justify-between items-center shadow-md rounded-md p-5">
    <div class="prose">
      <h1>{{ portfolio.portfolioName }}</h1>
    </div>
    <button type="button" (click)="showDialog()" class="btn btn-primary btn-sm">
      Place Order
    </button>
    <dialog
      id="my_modal_1"
      class="modal"
      [class.modal-open]="dialogOpenSignal()"
    >
      <div class="modal-box">
        <button
          type="button"
          aria-label="Close"
          class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          (click)="closeDialog()"
        >
          <ng-icon name="heroXMark" size="18" />
        </button>
        <h3 class="text-lg font-bold">Create New Portfolio</h3>
        <form
          [formGroup]="portfolioForm"
          class="mt-4 flex flex-col space-y-3"
          (ngSubmit)="createPortfolio()"
        >
          <div>
            <input
              type="text"
              aria-label="Portfolio Name"
              class="input input-bordered w-full select-sm"
              placeholder="Name"
              formControlName="portfolioName"
            />
            @if ( portfolioForm.get('portfolioName')?.touched &&
            portfolioForm.get('portfolioName')?.invalid ) {
            <small class="text-red-500 text-sm mt-1">
              {{
                portfolioForm.get("portfolioName")?.errors?.['required']
                  ? "Portfolio name is required"
                  : "Invalid portfolio name"
              }}
            </small>
            }
          </div>
          <textarea
            aria-label="Description"
            class="textarea textarea-bordered"
            placeholder="Description"
            formControlName="description"
          ></textarea>
          <div class="modal-action">
            <button type="submit" class="btn">Create</button>
          </div>
        </form>
      </div>
    </dialog>
  </div>

  <div class="overflow-x-auto shadow-md mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Change</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (stock of stocks; track stock.symbol) {
        <tr class="hover">
          <td class="flex items-center space-x-1">
            <img class="w-8" src="{{ stock.pic }}" alt="{{ stock.name }}" />
            <span>
              {{ stock.symbol }}
            </span>
          </td>
          <td>{{ stock.name }}</td>
          <td>{{ stock.price | currency }}</td>
          <td>
            {{ stock.quantity }}
          </td>
          <td>
            <span
              [class.text-success]="stock.change > 0"
              [class.text-error]="stock.change < 0"
            >
              {{ stock.change | percent }}
            </span>
          </td>
          <td>
            <div class="flex space-x-2">
              <button
                title="Buy"
                type="button"
                class="btn btn-neutral btn-sm btn-square btn-outline"
              >
                <ng-icon name="heroPlus" size="18" />
              </button>
              <button
                title="Sell"
                type="button"
                class="btn btn-primary btn-sm btn-square btn-outline"
                [disabled]="stock.quantity <= 0"
              >
                <ng-icon name="heroMinus" size="18" />
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="mt-5 mb-2 px-2">
      <app-pagination />
    </div>
  </div>
</div>
