<dialog id="my_modal_1" class="modal modal-open">
  <div class="modal-box">
    <button
      type="button"
      aria-label="Close"
      class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
      (click)="close(false)"
    >
      <ng-icon name="heroXMark" size="18" />
    </button>
    <h3 class="text-lg font-bold">{{ title() }}</h3>
    <div class="mt-4">
      <p class="text-sm">{{ message() }}</p>
    </div>
    <div class="modal-action">
      <button type="button" (click)="close(false)" class="btn">Cancel</button>
      <button type="button" (click)="close(true)" class="btn btn-error">
        Delete
      </button>
    </div>
  </div>
</dialog>
