<div class="mx-5 mt-5">
  <div class="flex justify-between items-center shadow-md rounded-md p-5">
    <div class="prose">
      <h1>Users</h1>
    </div>
    <button type="button" (click)="showDialog()" class="btn btn-primary btn-sm">
      New User
    </button>
    <dialog
      id="my_modal_1"
      class="modal"
      [class.modal-open]="dialogOpenSignal()"
    >
      <div class="modal-box">
        <button
          type="button"
          aria-label="Close"
          class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          (click)="closeDialog()"
        >
          <ng-icon name="heroXMark" size="18" />
        </button>
        <app-user-form [defaultUser]="selectedUser()" (submit)="handleSubmit($event)" />
      </div>
    </dialog>
  </div>

  <div class="flex justify-between items-center shadow-md rounded-md p-5">
    <div class="join">
      <input
        class="join-item btn"
        type="radio"
        name="{{ prefix + '-role' }}"
        aria-label="All"
        checked="{{ true }}"
      />
      <input
        class="join-item btn"
        type="radio"
        name="{{ prefix + '-role' }}"
        aria-label="Admin"
      />
      <input
        class="join-item btn"
        type="radio"
        name="{{ prefix + '-role' }}"
        aria-label="User"
      />
    </div>
    <div class="join">
      <div>
        <div>
          <input class="input input-bordered join-item" placeholder="Search" />
        </div>
      </div>
      <div>
        <div>
          <input
            class="input input-bordered join-item"
            type="datetime-local"
            placeholder="Search"
          />
        </div>
      </div>
      <select aria-label="Filter" class="select select-bordered join-item">
        <option disabled selected>Filter</option>
        <option value="ADMIN">Admin</option>
        <option value="USER">User</option>
      </select>
      <button class="btn join-item">Search</button>
    </div>
  </div>

  <div class="overflow-x-auto shadow-md mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Pending Deletion</th>
          <th>Date Created</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users(); track user.id) {
        <tr class="hover">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.accountType }}</td>
          <td>
            {{ user.pendingDelete }}
          </td>
          <td>{{ user.createdAt | date }}</td>
          <td>
            <div class="flex space-x-2">
              <a
                title="View"
                type="button"
                [routerLink]="['/users', user.id]"
                class="btn btn-neutral btn-sm btn-square btn-outline"
              >
                <ng-icon name="heroEye" size="18" />
              </a>
              <button
                title="Edit"
                type="button"
                class="btn btn-primary btn-sm btn-square btn-outline"
                (click)="handleEdit(user)"
              >
                <ng-icon name="heroPencil" size="18" />
              </button>
              <button
                title="Delete"
                type="button"
                class="btn btn-error btn-sm btn-square btn-outline"
                (click)="deleteUser(user.id)"
              >
                <ng-icon name="heroTrash" size="18" />
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="mt-5 mb-2 px-2">
      <app-pagination />
    </div>
  </div>
</div>
