<app-navbar />

<!-- DRAWER -->
<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <ng-content></ng-content>
  </div>
  <div class="drawer-side z-10">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <div class="min-h-full bg-base-200 p-4 flex flex-col">
      <h1>This is my content</h1>
      <ul class="menu text-base-content h-full rounded-box w-80">
        <li>
          <a routerLink="/dashboard">
            <ng-icon name="heroSquares2x2" size="24" />
            Dashboard
          </a>
        </li>
        <!-- <li>
          <a routerLink="/orders">
            <ng-icon name="heroBuildingOffice2" size="24" />
            Orders
          </a>
        </li> -->
        <li>
          <a routerLink="/portfolios">
            <ng-icon name="heroBuildingOffice2" size="24" />
            Portfolios
          </a>
        </li>
        <li>
          <a routerLink="/trade-history">
            <ng-icon name="heroReceiptRefund" size="24" />
            Trade History
          </a>
        </li>
        <li>
          <a routerLink="/users">
            <ng-icon name="heroUser" size="24" />
            Users
          </a>
        </li>
      </ul>
      <div class="flex-grow"></div>
        <div class="divider"></div>
      <div class="flex-none space-x-3 mb-3">
        <ng-icon name="heroMoon" size="24" />
        <input
          aria-label="toggle theme"
          type="checkbox"
          [checked]="theme() === 'light'"
          (change)="toggleTheme($event)"
          class="toggle"
        />
        <ng-icon name="heroSun" size="24" />
      </div>
    </div>
  </div>
</div>
