<app-navbar />

<!-- DRAWER -->
<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <ng-content></ng-content>
  </div>
  <div class="drawer-side z-10">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <div class="min-h-full bg-base-200 p-4 flex flex-col">
      <div class="flex items-center space-x-5">
        <div class="avatar placeholder">
          <div class="bg-neutral text-neutral-content w-16 rounded-full">
            <span class="text-3xl">
              {{ user()?.name?.charAt(0)?.toUpperCase() }}
            </span>
          </div>
        </div>
        <div>
          <div class="font-bold text-lg">{{ user()?.name }}</div>
          <div class="text-sm">
            <a href="mailto:daisy@yahoo.com">{{ user()?.email }}</a>
          </div>
          <div class="text-sm">
            <span href="mailto:daisy@yahoo.com">{{ user()?.accountType }}</span>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <ul class="menu text-base-content h-full rounded-box w-80">
        @for (item of menuItems$; track item.label) {
        <li>
          <a [routerLink]="item.link">
            <ng-icon [name]="item.icon" size="24" />
            {{ item.label }}
          </a>
        </li>
        }
      </ul>
      <div class="flex-grow"></div>
      <div class="divider"></div>
      <div class="flex-none space-x-3 mb-3">
        <ng-icon name="heroMoon" size="24" />
        <input
          aria-label="toggle theme"
          type="checkbox"
          [checked]="theme() === 'light'"
          (change)="toggleTheme($event)"
          class="toggle"
        />
        <ng-icon name="heroSun" size="24" />
      </div>
    </div>
  </div>
</div>
